appdirs==1.4.4
Babel==2.10.3
bs4==0.0.1
certifi==2022.9.24
-e git+https://github.com/cldf/cldfbench/@94d5137c50a1dc5ee057865ed171bb4421aa2ff8#egg=cldfbench
cldfcatalog==1.5.1
cldfviz==0.9.0
cldfzenodo==0.3.0
clldutils==3.12.0
cltoolkit==0.1.1
colorama==0.4.5
colorlog==6.7.0
-e git+https://github.com/cldf/csvw.git@3a6f9034a9423a917c7c4049d5034860f4ad2d73#egg=csvw
cycler==0.11.0
geojson==2.5.0
gitdb==4.0.9
greenlet==1.1.3.post0
html5lib==1.1
idna==3.4
igraph==0.10.2
iniconfig==1.1.1
isodate==0.6.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
kiwisolver==1.4.4
lingpy==2.6.9
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.1
nameparser==1.1.1
networkx==2.8.7
newick==1.3.2
numpy==1.23.4
openpyxl==3.0.10
packaging==21.3
pluggy==1.0.0
purl==1.6
py==1.11.0
pybtex==0.24.0
-e git+https://github.com/cldf/pycldf.git@14d467a583e0ed7d0ad1c878b4b4b8fb1f13fac6#egg=pycldf
-e git+https://github.com/clics/pyclics@9d5909fed958315084bc8f4d87c41166e4a06c3a#egg=pyclics
pyclts==3.1.1
pyconcepticon==2.8.0
pycountry==22.3.5
pyglottolog==3.10.0
pylexibank==3.4.0
pyparsing==3.0.9
pytest==7.1.3
python-dateutil==2.8.2
python-igraph==0.10.2
pytz==2022.5
rdflib==6.2.0
regex==2022.9.13
requests==2.28.1
rfc3986==1.5.0
scipy==1.9.3
segments==2.2.1
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.42
tabulate==0.9.0
termcolor==2.0.1
texttable==1.6.4
threadpoolctl==3.1.0
tqdm==4.64.1
Unidecode==1.3.6
uritemplate==4.1.1
urllib3==1.26.12
wcwidth==0.2.5
webencodings==0.5.1
xlrd==2.0.1
yattag==1.14.0
zenodoclient==0.4.1